:root {
    --background-color:  #f9f5d7;
    --font-heading-color: #1c888e;
    --basic-text-color: #242424;
    --border-color: #a89984;
}

.darkmode {
    --background-color:  #242424;
    --font-heading-color: #a89984;
    --basic-text-color: #f2f0f1;
    --border-color: #3c3836;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    
    height: 100vh;
    margin: 0px;

    font-family: sans-serif;

    background-color: var(--background-color);
    color: var(--font-heading-color);
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding-right: 20px;
    padding-left: 15px;
    height: 10vh;
    border-bottom: 2px solid var(--border-color);
}

#tittle {
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: bold;
}

#theme-switch {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 0px;
    background-color: var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#theme-switch svg {
    fill: var(--basic-text-color);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}