body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    
    height: 100vh;
    margin: 0px;

    font-family: sans-serif;

    background-color: #f9f5d7;
    color: #1c888e;
}

#tittle {
    cursor: pointer;

    display: flex;
    justify-content: left;
    align-items: center;

    padding-left: 15px;
    height: 10vh;

    font-size: 2.5rem;
    font-weight: bold;

    border-bottom: 2px solid #a89984;
}