#contents {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#sidebar {
    width: var(--resizing-sidebar-width, 10vw);

    margin-left: 15px;
    margin-top: 15px;

    overflow-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

#resize-bar {
    cursor: ew-resize;
    width: 2px;
    background-color: var(--border-color);
}

.expand  {
    font-weight: bold;
    cursor: pointer;
}

.sub-expand {
    padding-left: 15px;
    font-weight: bold;
    cursor: pointer;
}

.leaf {
    padding-left: 30px;
    margin: 0px;
    cursor: pointer;
    color: var(--basic-text-color);
}