#main-content {
    flex: 1;
    overflow-y: auto;
}

#main-content h1 {
    margin: 20px;

    font-size: 1.8rem;
    color: #1c888e;
}

#main-content p {
    font-size: 1.1rem;
    color: #3c3836;
    margin: 20px;
}

#main-content table {
    border-collapse: collapse;
    margin: 15px;
    background-color: #fdfae3;
}

#main-content td, #main-content th {
    border: 1px solid #a89984;
    padding: 20px 20px;

    text-align: center;
    vertical-align: middle;
}

#main-content td {
    color: #3c3836;
}

#main-content th {
    background-color: #a89984;
    color: #f9f5d7;
}