#main-content {
    flex: 1;
    overflow-y: auto;
    padding-left: 20px;
}

#main-content h1 {
    font-size: 1.8rem;
    color: var(--font-heading-color);
}

#main-content p {
    font-size: 1.1rem;
    color: var(--basic-text-color);
}

#main-content table {
    border-collapse: collapse;
    margin: 15px;
    background-color: var(--background-color);
}

#main-content td, #main-content th {
    border: 1px solid var(--border-color);
    text-align: center;
    vertical-align: middle;
}

#main-content td {
    color: var(--basic-text-color);
}

#main-content th {
    background-color: var(--border-color);
    color: var(--background-color);
}

.darkmode #main-content th {
    background-color: var(--font-heading-color);
    color: var(--background-color);
}

pre {
    color: var(--basic-text-color);
}